.container-info{
    margin: auto;
    justify-content: center;
    width: 600px;
    text-align: center;
}
.titulo{
    padding-top: 100px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 40px;
    font-size: 25px;
}
.acordeon{
    font-family: 'Merriweather', serif;
    text-align: center;
    border-radius: 15px;
    background-color: #2e2e2e;
    color: black;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
    width: 600px;
    height: 60px;
    outline: none;
    font-size: 25px;
    margin: 3px;
    color: white;
}
.active, .acordeon:hover{
    background-color: #2e2e2e;
}
.panel{
    border-radius: 15px;
    width: 100%;
    display: none;
    overflow: hidden;
}
.panel p{
    font-size: 14px;
}